.language{
	background-color: #f2f2f2;
	height: 55px;
	border-bottom: 0.5px solid grey;
	padding-top: 13px;
	font-size: 14px;
}
.language a{
	text-decoration: none;
	font-size: 13px;
	color: black;
	padding-left: 15px;
}

.profilc{
	background-color:#EBEDEF;
	position: relative;
	height: 100%;
	padding-bottom: 40px;


}
.profilc div{
	padding-top: 20px;
}

.profilc p{
	padding-left: 12px;
	margin-top: 5px;
}

.pilihanc{
	background-color:#EBEDEF;
		border-bottom: 0.5px solid grey;
		height: 120%;

	
}
.pilihanc a{
	text-decoration: none;
	color: #4d4d4d;;
	padding-bottom: 2px;
	padding-right: 6px;
	padding-left: 6px;
	padding-top: 5px;
}

.pilihan a:visited {
  font-weight: bold;s 
  background-color: white; 
  border: solid grey 0.1px; 
  border-bottom: white;
  border-radius: 3px;
}
.details li{
	font-size: 15px;
	font-weight: normal;
	list-style-type: none;
	padding-top: 12px;
}
.details{
	background-color: #f2f2f2;
	border-radius: 6px;
	border: solid grey 0.1px;
	margin-top: 3px;
	margin-left: 20px;
}
.isisetting{
	margin-top: 27px;
}
.isidetails{
	border: solid grey 0.1px;
	margin-left: 20px;
	margin-top: 3px;
	border-radius: 6px;
}
.isidetails h3{
	padding-top: 15px;
	border-bottom: solid grey 0.1px;
}
.avatar{
	padding-top: 10px;
}
.avatar button{
	margin-top: 20px;
}