.language{
	background-color: #f2f2f2;
	height: 55px;
	border-bottom: 0.5px solid grey;
	padding-top: 13px;
	font-size: 14px;
}
.language a{
	text-decoration: none;
	font-size: 13px;
	color: black;
	padding-left: 15px;
}

.profilc{
	background-color:#EBEDEF;
	position: relative;
	height: 100%;
	padding-bottom: 40px;


}
.profilc div{
	padding-top: 20px;
}

.pilihanc{
	background-color:#EBEDEF;
		border-bottom: 0.5px solid grey;
		height: 120%;

	
}
.pilihanc a{
	text-decoration: none;
	color: #4d4d4d;;
	padding-bottom: 2px;
	padding-right: 6px;
	padding-left: 6px;
	padding-top: 5px;
}

.pilihan a:visited {
  font-weight: bold;s 
  background-color: white; 
  border: solid grey 0.1px; 
  border-bottom: white;
  border-radius: 3px;
}
.details li{
	font-size: 15px;
	font-weight: normal;
	list-style-type: none;
	padding-top: 12px;
}
.details{
	background-color: #f2f2f2;
	border-radius: 6px;
	border: solid grey 0.1px;
	margin-top: 3px;
	margin-left: 20px;
}
.isisetting{
	margin-top: 27px;
}
.isidetails{
	border: solid grey 0.1px;
	margin-left: 20px;
	margin-top: 3px;
	border-radius: 6px;
}
.isidetails h3{
	padding-top: 15px;
	border-bottom: solid grey 0.1px;
}
.avatar{
	padding-top: 10px;
}
.avatar button{
	margin-top: 20px;
}
.viewp{
	background-color: #4CAF50;
	border: none;
	border-radius: 5px;
	height: 35px;
	text-align: center;
	color: white;
}
.followp{
	background-color: #4CAF50;
	border: none;
	border-radius: 5px;
	height: 35px;
	width: 80px;
	text-align: center;
	color: white;
}
.product img{

	height: 80%;
	width: 100%;
}
.product p{
	font-weight:bold;
}
.product{
	margin-top: 35px;
	
}
.productdetil{
	
	border-bottom: solid grey 0.1px;
}
.allproduct{
	background-color: #f2f2f2;
	border: solid grey 0.1px;
	border-radius: 5px;
	margin-bottom: 70px;

}
.input-group.md-form.form-sm.form-2 input {
    border: 1px solid #bdbdbd;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}
.input-group.md-form.form-sm.form-2 input.red-border  {
    border: 1px solid #ef9a9a;
}
.input-group.md-form.form-sm.form-2 input.lime-border  {
    border: 1px solid #cddc39;
}
.input-group.md-form.form-sm.form-2 input.amber-border  {
    border: 1px solid #ffca28;
}

.caripor{
	background-color: #E5E4E2;
	border-radius: 6px;
	margin-top: -50px;
}


.about{
	margin-top: 40px;
	background-color: #E5E4E2;
	border-radius: 6px;

}
.about img{
	padding-left: 12%;
}
.data{
	padding-left: 12%;
	font-weight: normal;
	margin-top: 15px;
	padding-bottom: 20px;

}