/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	background-color: #fafafa;
}

.wadah {
	padding: 0 15px;
}

/*Bagian search*/
.form_search {
	position: relative;
	margin: 35px 0;
}

.search {
	border-radius: 2px 0 0 2px;
	padding: 16px 20px;
	padding-right: 160px;
	width: 100%;
	border: solid 2px #ddd;
	font-size: 16px;
}

.search:focus {
	border: solid 2px #b2b2b2;
	outline: 0;
}

.close {
	position: absolute;
	top: 17px;
	right: 160px;
}

.button_search {
	background-color: #6dad29;
	width: 150px;
	/*border: solid 3px #6ba229;*/
	border: 0;
	text-align: center;
	border-radius: 0 2px 2px 0;
	position: absolute;
	padding: 18px 20px;
	top: 0;
	right: 0px;
	color: white;
	cursor: pointer;
}

.button_search:hover {
	background-color: #538320;
}

.button_search1 {
	display: inline-block;
}

svg {
	display: none;
}

/*filter*/
.bagian_atas {
	border-top: solid 2px #b2b2b2;
	padding: 15px 0;
	position: relative;
}

.button_filter1 {
	cursor: pointer;
	padding-top: 9px;
	padding-bottom: 10px;
	padding-left: 35px;
	padding-right: 20px;
	position: relative;
	background-color: transparent;
	border: 0;
}

.cross {
	position: absolute;
	left: 0px;
	top: 0px;
	cursor: pointer;
	z-index: 99;
	padding: 18px 92px 26px 5px;
	/* background: red;*/
}

.cross span,
.cross span:before,
.cross span:after {
	cursor: pointer;
	border-radius: 1px;
	height: 3px;
	width: 18px;
	background: black;
	position: absolute;
	display: block;
	content: '';
	transition: all 300ms ease-in-out;
}

.cross span:before {
	top: -6px;
}

.cross span:after {
	bottom: -6px;
}

.cross.active span {
	background-color: transparent;
}

.cross.active span:before,
.cross.active span:after {
	top: 0;
}

.cross.active span:before {
	transform: rotate(45deg);
}

.cross.active span:after {
	transform: rotate(-45deg);
}

/*sort by*/
.sortby {
	position: absolute;
	right: 0;
	top: 15px;
}

#sortby {
	padding: 10px 15px;
	cursor: pointer;
}

/*category*/
.isi-category {
	cursor: pointer;
}

.isi-category input :hover {
	color: #6dad29;
}

.isi-category form input {
	margin-top: 10px;
}

/*Price*/
.price {
	background-color: transparent;
	border: 0;
	font-size: 17px;
	padding: 19px 0px;
	border-top: solid 1px #b2b2b2;
	padding-right: 230px;
	cursor: pointer;
	margin-top: 20px;
	padding-left: 7px;
}

.rank-price {
	position: relative;
}

.Minimum-price {
	padding: 5px 5px;
	border-radius: 3px;
	border: solid 1px gray;
}

.Maximum-price {
	padding: 5px 5px;
	border-radius: 3px;
	border: solid 1px gray;
}

.maksimum {
	position: absolute;
	top: 0;
	right: 78px;
}

.chevron {
	position: absolute;
	top: 0;
	margin-top: -13px;
	right: 40px;
	cursor: pointer;
	font-size: 40px;
	color: #6dad29;

}

.chevron:hover {
	color: #538320;
}

/*Rating*/
.rating {
	background-color: transparent;
	border: 0;
	font-size: 17px;
	padding: 19px 0px;
	border-top: solid 1px #b2b2b2;
	padding-right: 220px;
	cursor: pointer;
	margin-top: 20px;
	padding-left: 7px;
}

.isi-rating ul li span {
	padding-left: 2px;
	font-size: 16px;
}

/*bagian bawah isi*/
.bagian_bawah {
	display: flex;
}

.bagian-kiri {
	flex: 1;
}

.bagian-kanan {
	flex: 1;
	margin-left: 15px;
}

.filetr-category {
	width: 270px;
}

.side-hide {
	display: none;
}

.side-none {
	padding: 0 100px !important;
}

/*bagian kanan category*/

/*Arikel*/
.Artikel {
	-webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.58);
	-moz-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.58);
	box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.58);
	border-radius: 5px;
	height: 260px;
	margin-top: 40px;
	background-color: white;
	display: flex;
	justify-content: center;
}

.artikel-left,
.artikel-center,
.artikel-right {
	margin-top: 15px;
}

.artikel-left img {
	height: 210px;
}

.artikel-right {
	text-align: center;
}

.commpany a {
	color: black;
	font-weight: bold;
}

.by {
	font-style: italic;
	color: gray;
	font-size: 12px;
}

.by a {
	color: gray;
	font-weight: bold;
}

.data-produk {
	padding: 5px 0;
}

.pro2 {
	color: gray;
}

.fiel1 {
	display: inline-block;
	white-space: nowrap;
	color: hsl(0, 0%, 40%);
	font-size: 12px;
	background-color: hsl(0, 0%, 95%);
	border-radius: 2px;
	padding: 0 8px;
	margin: 8px 8px 0 0;
}

.garis-vertikal {
	width: 0.5px;
	height: 200px;
	background-color: hsl(0, 0%, 95%);
	margin-left: -2px;
	margin-top: 15px;
}

.details_price {
	margin: 35px 0;
}

.price1 {
	font-weight: bold;
	font-size: 18px;
}

.add-collection {
	display: flex;
	justify-content: center;
	margin: 25px 0;
}

.add-collection a:first-child {
	padding: 0 25px;
	border: solid 1px #ddd;
	border-radius: 2px;
}

.add-collection a:first-child:hover {
	background-color: #a2a59e;
}

.add-collection a:last-child:hover {
	background-color: #6dad29;
}

.add-collection a:last-child {
	border: solid 1px #6dad29;
	margin-left: 2px;
	border-radius: 2px;
	color: white;
}

.add-collection i {
	color: #6dad29;
}

.add-collection i:hover {
	color: white;
}

.pagination {
	margin: 10px 0;
}

.pagination li a {
	background-color: #fafafa;
	color: black;
}

/*ukuran Browser hp */
@media screen and (max-width: 768px) {

	/*search*/
	svg {
		display: inline-block;
	}

	.bagian-kanan {
		margin-left: 0;
	}

	.side-none1 {
		display: inline;
		padding: 0 0px !important;
	}

	.button_search1 {
		display: none;
	}

	.button_search {
		width: 60px;
		padding: 18px 20px;
	}

	.search {
		padding-right: 70px;
	}

	.by {
		margin-top: -5px;
	}

	.price1 {
		text-align: left;
		margin-top: -40px;
	}

	.add-collection {
		margin-top: -20px;
	}

	.add-collection a:first-child {
		padding: 0 10px;
	}

	.User-Rating {
		font-size: 13px;
	}

	.artikel-left img {
		height: 100%;
	}

	.mobile-center {
		display: flex;
		justify-content: space-between;
	}

	.detail-produk,
	.garis-vertikal,
	.Terjual,
	.last-update {
		display: none;
	}

	.Artikel {
		height: 310px;
	}

	/*bagian filter atas*/
	/*category*/

}
