    .jumbotron {
    	background-color: #f7f7f7;
    	padding-bottom: 0;
    	padding-top: 30px;
    }

    ul {
    	list-style-type: none;
    	margin: 0;
    	padding: 0;
    	overflow: hidden;
    	background-color: #f7f7f7;
    }

    li {
    	float: left;
    }

    li a {
    	display: block;
    	color: black;
    	text-align: center;
    	padding: 16px;
    	text-decoration: none;
    }

    li a:hover {
    	background-color: white;
    	text-decoration: none;
    }

    .active {
    	background-color: white;
    	text-decoration: none;
    }

    .owner {
    	display: inline-block;
    	margin-left: 55%;
    }

    .head-of-review {
    	margin-left: 17px;
    }

    .custom-select {
    	width: 15%;
    	margin-bottom: 1%;
    	margin-left: 31%;
    }

    .samping {
    	margin-top: -11%;
    	width: 80%;
    }

    .rev {
    	margin-top: 3%;
    }

    .odin {
    	margin-top: 3% !important;
    	background-color: white !important;
    }

    .ex {
    	display: inline-block;
    	float: left;
    	margin-top: -25px;
    	margin-left: 100%;
    }

    .ink {
    	width: 25%;
    	margin-left: 0;
    }

    .inkrev {
    	width: 10%;
    }

    .tbl {
    	background-color: gray;
    	border-color: gray;
    	margin-top: 10px;
    	margin-left: 93%;
    }

    .tblpost {
    	margin-left: 81%;
    	margin-top: 2%;
    }

    .a-comment {
    	margin-bottom: 5%;
    }

    .komentar {
    	width: 90%;
    	margin-left: 10%;
    }

    .kotak {
    	width: 50px;
    	height: 50px;
    	background-color: gray;
    	float: left;
    	text-align: center;
    	color: white;
    }

    .odin {
    	margin-top: 3% !important;
    	background-color: white !important;
    	margin-bottom: 3%;
    }

    .date {
    	margin-left: 80%;
    }

    .reply {
    	margin-top: 1%;

    }

    .reply-a {
    	display: none;
    }

    .balas {
    	margin-left: 91%;
    }

    .bawah {
    	margin-bottom: 5%;
    }




    /* Mobile Version */
    @media only screen and (max-width: 600px) {
    	.samping {
    		margin-top: 10%;
    		width: 100%;
    	}

    	.rev {
    		margin-top: 3%;

    	}
    }
