.bagatas {
	border-radius: 1px;
	height: 56.5px;
	background-color: #262626;

}
.bagatas a{
	color: #8c8c8c;
	padding-right: 10px;
	text-decoration: none;
}
#home {
	margin: 3.5px 7px 2px 7px;
	font-size: 20px;
	float: left;
	}

#login {
}
.atasall{
	font-size: 14px;
	color: #8c8c8c;
	text-decoration: none;
	padding-left: 180px;
	margin-top: 8px;
}
.atas{
	text-align: center;
	padding-left: 20px;
}
.menu{
	color: #8c8c8c;
	margin-top: 5px;
	font-size: 17px;
}
.language{
	background-color: #f2f2f2;
	height: 50px;
	border-bottom: 0.5px solid grey;
	padding-top: 10px;
	font-size: 14px;
}
.language a{
	text-decoration: none;
	font-size: 13px;
	color: black;
	padding-left: 15px;

}


.profile{
	height: 150px;
	background-color: #f2f2f2;

}
.foto{
	margin-top: 30px;
	padding-left: 100px; 
}

.datap{
	margin-top: 25px;
	margin-right: 70px;
	
}
.viewp{
	background-color: #4CAF50;
	border: none;
	border-radius: 5px;
	height: 35px;
	text-align: center;
	color: white;
}
.followp{
	background-color: #4CAF50;
	border: none;
	border-radius: 5px;
	height: 35px;
	width: 80px;
	text-align: center;
	color: white;
}
.datapkanan{
	margin-top: 45px;
	text-align: left;
}

.datakanan2{
	margin-top: 45px;
	text-align: left;
}
.coice {
	height: 30px;
	background-color : #f2f2f2;
	border-bottom: solid grey 0.1px;
	padding-left: 170px;
}
.coice a{
	padding-left: 25px;
	padding-top: 5px;
}
.datadrop{
	margin-top: 30px;
	padding-left: 170px;

}
.dropdown span{
	padding-right: 10px;
}

.bagbawah{

}

.product{
	background-color: #e6e6e6;
	height:  100%;
	width: 57%;
	margin-left: 170px;
	margin-top: 20px;
	padding-top: 30px;

}
.product img{
	width: 150px;
	height: 100px;
	margin-bottom: 30px;
	padding-left: 10px;
	I
}
.judul{
	font-weight: 20%;
}

.aplikasi{
	font-size: 200px;
	margin-left: 152px;
	background-color: green;
	padding: 9px;
	border-radius:20px;
	color: white;
}

.samping{
	width: 18%;
	margin-left: 980px;
	margin-top: -660px;
	color: white;
	font-weight: bold;
	line-height: solid grey 1px;
	 border: 1px solid grey; 
	 border-radius: 10px;
}

.about{
	background-color: #262626;
	margin-top: 200px;
	width: 18%;
	margin-left: 980px;
	margin-top: 20px;
	color: white;
	font-weight: bold;
	padding-left: 10px;
	border-radius: 5px;
	border: 1px solid grey; 
}
.author img{
	width: 19%;
	padding-left: 10px;
	padding-bottom: 10px;

}